extends ../../layout

block content
    h1= title
    h4= errorVerify

    if !isAuth
        a(href="/signguest") Войти как гость
        br
        br
        a(href="/signup") Регистрация
        br
        br
        a(href="/signin") Авторизация