extends ../../layout

block content

    div#error
        h3= errorRegisterMessage

    form(id="signup" name="signup" method="post" action="/signup")
        label(for="email") Email
        input(class="text" name="email" type="email" )
        label(for="nickname") Логин
        input(name="nickname" type="text")
        label(for="hash") Пароль
        input(name="hash" type="password")
        input(class="btn" type="submit" value="Регистрация")