extends layout

block content
    h1= title

    div(class='page start' id='page-start')
        button(id='PP') Против человека
        button(id='CP') Против компьютера

    //PP
    div(class='page login' id='page-login')
        div(class='logo')
        input(id='username')
        button(id='login') Войти

    div(class="page lobby" id='page-lobby')
        h2 Лобби
        h2(id='userLabel')
        h3 Активные игры
        div(id='gamesList') Активные игры отсутствуют
        h3 Игроки онлайн
        div(id='userList') Игроки онлайн отсуствуют
        h3 Настройка игры
        button(class="button-setting") Опции

    //CP
    div(class='page computer' id='page-computer')
        h2 Против компьютера
        h3 Сложность
        form(action='/ai' id='cpu_level' method='post')
            input(type='hidden' name="game_mode" value="CP")
            input(type='radio' name='level' value="low")
            | Легкий
            input(type='radio' name='level' value="medium")
            | Средний
            input(type='radio' name='level' value="high")
            | Высокий
            button(id='high' type='submit') Играть
        h3 Настройка игры
        button(class="button-setting") Опции

    //GAME BOARD
    div(class="page game" id='page-game')
        button(id='game-back') Назад
        button(id='rotate-board') Перевернуть доску
        div(id='game-board')
        div(id='history')



    // SETTING
    div(class'page setting' id='page-setting' style="display: none")
        form(id="settings")
            h3 Общие
            div
                input(type='checkbox' name='color_potencial_step' checked)
                | Подсвечивать возможные ходы
            br
            div
                input(type='checkbox' id="time_check_checkbox" name='time_check')
                | Учитывать время
            div
                input(type="text" id='time_check_text' name='time_value' placeholder="__:__")
                br
            //div
                //input(type='checkbox' name='multiattack')
                //| Возможность "рубить" несколько шашек за один ход
                //br
            div
                input(type='checkbox' id="fuchs" name='fuchs' checked)
                | Играть с фуками
            br
            div(id='color_potencial_fuchs' style='display: block;')
                input(type='checkbox' name='color_potencial_fuchs')
                | Подсвечивать фуки

            h3 Обычные шашки
            div
                input(type='checkbox' name='simple_back_attack' checked)
                | Рубить назад


