extends layout

block content
    h1= title

    if result_register
        h3= result_register
    else
        div(class='page start' id='page-start')
            button(id='PP') Против человека
            button(id='CP') Против компьютера

        //PP
        include pp
        //CP
        include cp
        //GAME BOARD
        include gameboard
        // SETTING
        include settings


