doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        block content

    script(src="/lib/socket.io-1.2.0.js")
    script(src="/lib/jquery-1.11.1.js")

    script(src="/js/dynamicListener.js")

    if level === 'low'
        script(src="/js/comp.js" level='low')
    else if level === 'medium'
        script(src="/js/comp.js" level='medium')
    else if level === 'high'
        script(src="/js/comp.js" level='high')
    else
        script(src="/js/script.js")
