* {
  box-sizing: border-box;
}

.not_words {
    padding-left: 36px;
    padding-right: 36px;
}

#page-login {
    display: none;
}

#page-lobby{
  display: none;
}

#page-computer {
    display: none;
}

#page-game {
  display: none;
}

#page-setting {
    display: none;
}

#time_check_text {
    display: none;
}

#color_potencial_fuchs {
    display: none;
}

.board {
  display: inline-block;
  border: 2px solid black;
}

.rank {
  display: flex;
}

.rank:nth-child(odd) .rank__check:nth-child(even),
.rank:nth-child(even) .rank__check:nth-child(odd) {
  background-color: black;
}

.rank__check {
  height: 80px;
  width: 80px;
  padding: 8px;
}

.over {
  border: 2px solid orange;
}

.piece {
  cursor: pointer;
  color: brown;
  font-size: 3.8rem;
  text-align: center;
}

.content {
  text-align: center;
}

.active {
  color: yellow;
}

.fuch {
    color: #ff1c1c;
}

.potencial_dead {
  color: orangered;
}

.rotate_board {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}