extends ../../layout

block content
    h3= temp_user_id
    h1= title
    h4= successVerify

    div(class='page start' id='page-start')
        button(id='PP') Против человека
        button(id='CP') Против компьютера

    include pp
    include cp
    include gameboard
    include settings
    include chat

