//div(class='page login' id='page-login')
//    div(class='logo')
//    input(id='username')
//    button(id='login') Войти
div(class="page lobby" id='page-lobby')
    h2 Лобби
    h2(id='userLabel')
    h3 Активные игры
    input(type='button' id='updateGamesList' value='Обновить список активных игр')
    br
    div(id='gamesList') Активные игры отсутствуют
    h3 Игроки онлайн
    input(type='button' id='updateUserList' value='Обновить список игроков')
    br
    div(id='userList') Игроки онлайн отсуствуют